<!-- task_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Detail</title>
</head>
<body>
    <p>
        Task Name: {{ task.name }} | <a href="{% url 'demo:task_update' task.id %}">Update</a>
        |
        <a href="{% url 'demo:task_delete' task.id %}">Delete</a>
    </p>
    <p>Task Status: {{ task.get_status_display }}</p>
    <p>
        <a href="{% url 'demo:task_list' %}">View All</a>
        <a href="{% url 'demo:task_create' %}">New Task</a>
    </p>
</body>
</html>